.onoffswitch {
    position: relative; width: 65px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    display: inline-block;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 20px; padding: 0; line-height: 20px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Cº";
    padding-left: 0px;
    background-color: #34A7C1;
    color: #FFFFFF;
    margin-left: -10px;
}
.onoffswitch-inner:after {
    content: "Fº";
    padding-right: 10px;
    background-color: #EEEEEE;
    color: #999999;
    text-align: right;
    margin-left: 10px;
}
.onoffswitch-switch {
    display: block;
    width: 30px;
    margin: -4px;
    background: #FFFFFF;
    position: absolute;
    top: 1px;
    bottom: 6px;
    right: 41px;
    border-radius: 20px;
    -webkit-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}